@model GymManagement.Models.Trainer

@{
    ViewBag.Title = "Xoá HLV";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <h2 class="mb-4 text-danger">Xác nhận xoá Huấn luyện viên</h2>

    <dl class="row">
        <dt class="col-sm-3">Họ tên</dt>
        <dd class="col-sm-9">@Model.FullName</dd>

        <dt class="col-sm-3">Email</dt>
        <dd class="col-sm-9">@Model.Email</dd>

        <dt class="col-sm-3">Chuyên môn</dt>
        <dd class="col-sm-9">@Model.Specialty</dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <input type="hidden" name="id" value="@Model.ID" />
        <button type="submit" class="btn btn-danger">Xác nhận xoá</button>
        @Html.ActionLink("Huỷ", "Index", null, new { @class = "btn btn-secondary ml-2" })
    }
</div>
