@model GymManagement.Models.Trainer

@{
    ViewBag.Title = "Chỉnh sửa HLV";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <h2 class="mb-4">Chỉnh sửa thông tin HLV</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.ID)

        <div class="form-group">
            @Html.LabelFor(m => m.FullName)
            @Html.TextBoxFor(m => m.FullName, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Email)
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Specialty)
            @Html.TextBoxFor(m => m.Specialty, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.PhoneNumber)
            @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
        </div>

        <button type="submit" class="btn btn-primary">Lưu thay đổi</button>
        @Html.ActionLink("Quay lại", "Index", null, new { @class = "btn btn-secondary ml-2" })
    }
</div>
